#home {

        p {
            font: 0.81rem Arial;
            margin: 0 0 8px 0;
            line-height: 20px;
        }

        h2 {
            font: 1.25rem Arial;
        }

        .img-jobs {
        
        }

        .galery-home {
            overflow: auto;
        }

   

    
}