#home {

        background-color: black;
        height: 100vh;
        background: url("../../assets/bg.jpg") no-repeat;
        background-position: -780px 70px;

        @media (min-width: 768px) {
            background-position: -400px 70px;
        }
        
        @media (min-width: 1024px) {
            background-position: -80px 70px;
        }

        h1 {
            color: #000;
            font-size: 20px;
        }
    
}