@import "../../assets/variaveis.scss";

.moreInfo {
    background-color: $green-color;
    border-radius: 15px;
    padding: 7px 10px 7px 10px;

    float: right;
    position: relative;
    right: 30px;
    text-align: center;
    color: $white-color;
    font-weight: bold;
    
    &:active {
        color: $white-color;
          text-decoration: none;
          transition: padding 0.2s;
   
          border-radius: 25px;
          text-align: center;
          padding: 10px 16px 12px 16px;
          right: 30px;
    }

    
    .listNone {
        display: none;
    }
    
    .listBlock {
        display: block;
    }
    
    .moreDiv { 
        width: 60px;
        float: right;
    }
    ul {
        position: absolute;
        float: right;
        margin: -50px 0 0 -47px
    }
}