@import "../../assets/variaveis.scss";

.jobs {

  .job {
    float: left;
    display: inline-block;
    margin-right: 5px;
    background-color: $green-color;
    width: 300px;
    
      img{
        width: 100%;
      }  
      @media screen and (min-width:769px) { 
        width: 31%;
        margin-right: 2%;
        display: inline;
      }
  }

  .wraper {
    width: 3000%;
    
    @media screen and (min-width:769px) { 
      width: auto;
    }

  }
  
  .mobile {
    width: 100%;
    
  }

  .content-job {
    float: left;
    width: 30%;
    
    @media screen and (min-width:769px) { 
      position: absolute;
      z-index: 1;
      float: left;
      width: 30%;
    }
    
  }

  .more {

    background-color: $green-color;
    float: right;
    padding: 2px;
    text-align: center;
    width: 20px;
    color: $white-color;
    margin: -23px 0 0 0;
    z-index: 1;
    position: relative;
    cursor: pointer;

  }

  .less {

    float: right;
    padding: 2px;
    text-align: center;
    width: 20px;
    color: $white-color;
    margin: 15px -15px 0 0;
    z-index: 1;
    position: relative;
    cursor: pointer;

  }

  .bg-content-job {

    margin-top: 200px;
    
    @media screen and (min-width:769px) { 
      color: $white-color;
      padding: 15px;
      position: relative;
      z-index: 0;
      margin: 0;
      width: 100%;
    }

      .title {
        font-size: 14px;
      }
      .description, .tecnology {
        font-size: 11px;
      }

  }

  .text-link {
    a {
      color: $white-color;
      font-size: 12px;
    }  
  }

}
