@import "../../assets/variaveis.scss";

  .job {

    border: 1px solid #ccc;
    border-radius: 5px;

     @media screen and (min-width:769px) { 
      float: left;
      margin-right: 5px;
      background-color: $green-color;
      width: 300px;
      border: none;
      border-radius: 0px;
      padding: 0;
     }

      img{
        width: 100%;
        margin-top: -50px;
      }  
      @media screen and (min-width:769px) { 
        width: 31%;
        margin-right: 2%;
        display: inline;
      }
  }
  
  .mobile {
    width: 100%;
    
  }

  .more {

    background-color: $green-color;
    float: right;
    padding: 2px;
    text-align: center;
    width: 20px;
    color: $white-color;
    margin: -27px 0 0 0!important;
    z-index: 1;
    position: relative;
    cursor: pointer;

  }

  .less {

    float: right;
    padding: 2px;
    text-align: center;
    width: 20px;
    color: $white-color;
    margin: 26px -15px 0 0!important;
    z-index: 1;
    position: relative;
    cursor: pointer;

  }

  .content-job {

    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    
    @media screen and (min-width:769px) { 
      background-color: $green-color;
      border: none;
      border-radius: 0;
      color: $white-color;
      position: absolute;
      width: 92%;
      height: 100%;
      z-index: 0;
      margin: 0;
    }

      .title {
        font-size: 14px;
      }
      .description, .tecnology {
        font-size: 11px;
      }

  }

  .text-link {
    a {
      color: $black-color;
      font-size: 12px;
      @media screen and (min-width:769px) { 
        color: $white-color;
      }
    }  
  }
  .btn-see-more {
      background-color: $green-color;
      color: $white-color;
      padding: 10px;
  }
  .portfolio {
    height: 520px;
    overflow: hidden; 
}

