@import "../../assets/variaveis.scss";

.jobs {

  .teste {
    float: left;
    img{
      width: 100%;
    }  
    @media screen and (min-width:769px) { 
      width: 28%;
      margin-right: 2%;
      display: inline;
    }
  }

  .wraper {
    width: 3000px;
    
    @media screen and (min-width:769px) { 
      width: auto;
    }

  }
  
  .mobile {
    width: 100%;
    
  }

  .content-job {
    float: left;
    width: 30%;
    
    @media screen and (min-width:769px) { 
      position: absolute;
      z-index: 1;
      float: left;
      width: 30%;
    }
    
  }

  .more {

    background-color: $green-color;
    float: right;
    padding: 2px;
    text-align: center;
    width: 20px;
    color: $white-color;
    margin: -23px 0 0 0;
    z-index: 1;
    position: relative;
    cursor: pointer;

  }

  .bg-content-job {

    background-color: $green-color;
    color: $white-color;
    padding: 15px;
    position: relative;
    z-index: 0;
    margin: -190px 0 0 0;
    width: 100%;
    height: 100%;

      .title {
        font-size: 14px;
      }
      .description, .tecnology {
        font-size: 11px;
      }

  }

  .text-link {
    a {
      color: $white-color;
      font-size: 12px;
    }  
  }

}
