@import "../../assets/variaveis.scss";

header {

    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: $white-color;
        
    @media screen and (min-width:576px) { 
        position: relative
      }
}

#header {

        padding: 30px 0 0 0;

        .sub-title-logo {
            color: $gray-color;
        }
        h1 {
            color: $gray-color;
            font:  0.95rem Arial;
            text-align: center;
            
            @media screen and (min-width:576px) { 
                text-align: left
            }

        }
        
    
    
}