@import "../../assets/variaveis.scss";

body {
    //background: url(../../assets/bg.jpg) no-repeat;
    background-attachment: fixed;
}
#sobre {

        p {
            font-size: 0.81rem;
            margin: 0 0 8px 0;
            line-height: 20px;
        }     

        h2 {
            font-size: 3.25rem;
            font-weight: bold
        }
    
}