@import "../../assets/variaveis.scss";

.more{
    background-color: $green-color;
    border-radius: 15px;
    padding: 5px;
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
}