@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition ($duration, $timing) {
  transition-duration: $duration;
  transition-timing-function:$timing
}