@import "mixins.scss";

$white-color: white;
$black-color: black;
$green-color: #34d7a1;
$gray-color: #66758c;

.white-color { color: $white-color }
.black-color { color: $black-color }
.green-color { color: $green-color }
.gray-color { color: $gray-color }

