@import "../../assets/variaveis.scss";

.navhome {
 
    .btn-hamburger {
      float: right;
      background-color: transparent;
      border: none;

      // @media screen and (min-width:769px) {
      //   display: none;
      // }

      div {
        width: 35px;
        height: 4px;
        background-color: black;
        margin: 3px 0;
      }

    }

  nav {  
    float: right;
    width: 100%;
    padding: 10px;
    display: block;

    @media screen and (min-width:769px) { 
      width: auto;
    }
    
    ul {

      list-style: none;
      float: right;
      width: 100%;
      
      
        li {
        
          display: block; 
          font-size: 12px;

          @media screen and (min-width:769px) { 
            font-size: 14px;
          }

          @media screen and (min-width:769px) { 
            display: inline;
          }
             
          a {
            text-decoration: none; 
            margin: 0 15px 0 0!important;
            color: $white-color;
            transition: 0.5s linear;
            padding: 5px;
            display: block;

            @media screen and (min-width:769px) { 
              color: $green-color;
              display: inline;
              border: 1px solid  $white-color;
              border-radius: 15px;
            }

            &:hover {
              
              @media screen and (min-width:769px) { 
                color: $green-color;
                transition: 0.2s linear;
                border: 1px solid  $green-color;
                border-radius: 15px;
              }
              
          }
        
        }
      
      }
    
    }
    
  }

}